@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
  --color-base: #679436;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: var(--text-color);
}

body {
  min-height: 1500px;
  overflow: scroll;
  overflow-x: hidden;
  background-image: url(/img/seamless_paper.jpg);
}

main {
  background-repeat: repeat;
}

p {
  font-size: 1.1rem;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--color-body), transparent);
  z-index: 10000;
}

section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: var(--accent-color-dark);
  mix-blend-mode: color;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#bg {
  filter: saturate(0.5);
  filter: sepia(0.5);
}

#forest {
  filter: saturate(0.7);
  filter: sepia(0.5);
}

#text {
  position: relative;
  color: #fff;
  font-size: 10rem;
  z-index: 1;
  transition: font-size 0.5s ease;
}

#animal {
  z-index: 2;
  filter: sepia(0.5);
}

#grass {
  z-index: 3;
  filter: saturate(0.7);
  filter: sepia(0.5);
}

.sec_op {
  background: url('/img/texture-grunge-second.jpg') repeat;
  padding-top: 20px;
  margin-top: 15rem;
}


/* tablet view */
@media screen and (max-width: 800px) {
  #text {
    font-size: 5rem;
  }

  #navtext {
    visibility: hidden;
  }

  #bird2 {
    display: none;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;

  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .navbar-brand>img {
    margin-right: 1rem;
  }
}


/* desktop view */
@media screen and (min-width: 800px) {
  #bird2 {
    position: absolute;
    top: -35rem;
    right: -35%;
    width: 55%;
    height: auto;
    max-width: 100%;
  }

  #text {
    font-size: 10rem;
  }

  .navbar {
    top: 0;
    z-index: 100;
    position: sticky;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .navbar-brand>img {
    margin-right: 1rem;
  }
}

/* mobile view */
@media screen and (max-width: 500px) {
  #text {
    font-size: 5rem;
  }

  #navtext {
    visibility: hidden;
  }

  #bird2 {
    visibility: hidden;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;

  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .navbar-brand>img {
    margin-right: 1rem;
  }
}